
{% extends "core/base.html" %}
{% load static %}
{%  load crispy_forms_tags %}
{% block title %} Категории - {{ block.super }} {% endblock %}

{% block CUSTOME_SCRIPTS %}
    <script src="//cdn.jsdelivr.net/sockjs/1.1/sockjs.min.js" type="text/javascript"></script>
    <script src="https://rawgit.com/centrifugal/centrifuge-js/c2/dist/centrifuge.min.js"></script>
{% endblock %}

{% block content %}


    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Список Категорий</h1>
          <p class="lead text-muted">Задания разбиты на категории, щелкай на категорию и перейдешь к списку заданий!</p>
        </div>
      </section>

    <div class="row mb-2">
        <div class="col">
                <form action="" method = "get">
                    <div class="form-row">
                         <div class="col">
                            {{ form.sort }}
                        </div>
                        <div class="col">
                            {{ form.search }}
                        </div>
                        <div class="col">
                            <input class="btn btn-secondary" type="submit" value="Поиск">
                        </div>
                    </div>
                </form>
        </div>
        <div class="col">
            <a class="btn btn-primary float-right" href="{% url "categories:category_create"%}">Создать новую</a>
        </div>
    </div>

    <div class="row">
         <div class="album py-5 bg-light">
             <div class="container">
                 <div class="row categories">
                    {% for category in categories %}
                        <div class="col-md-4">
                              <div class="card mb-4 box-shadow">
                                  {% if not category.image %}
                                      <img class="card-img-top" height="220px" src= '{% static 'img/лого/огромная.jpg' %}' >
                                  {% else %}
                                      <img class="card-img-top" height="220px" src= '{{ category.image.url }}' >
                                  {% endif %}

                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <a class="card-link" href="{% url "categories:category_detail" pk=category.id %} "> {{ category.name }} </a>
                                    </div>
                                    <div class="row justify-content-center">
                                        <p class="card-text">{{ category.description }}</p>
                                    </div>
                                    <div class="row justify-content-center">
                                    <small class="text-muted"><a class="float-right" href = "{%  url "categories:category_edit" pk=category.id %}">Редактировать</a></small>
                                  </div>
                                </div>
                              </div>
                        </div>
                    {% endfor %}

                 </div>
              </div>
         </div>
    </div>
    <script type="text/javascript">
        var centrifuge = new Centrifuge('{{ CENTRIFUGE_SOCKJS_ENDPOINT }}', { debug: true });
        centrifuge.setToken('{{ CENTRIFUGE_TOKEN }}');

        var channel = 'public:screen-updates';
        var subscription = centrifuge.subscribe(channel, function(message) {
        const category = JSON.parse(message.data.category);
        const category_id = category[0].pk;
        const category_data = category[0].fields;
        console .log(category_data.image);
         const category_div =
        `<div class="col-md-4">
            <div class="card mb-4 box-shadow">
                {% if category_data.image == '{}' %}
                    <img class="card-img-top" height="220px" src= '{% static 'img/лого/огромная.jpg' %}' >
                {% else %}
                    <img class="card-img-top" height="220px" src= '${ category_data.image.url }' >
                {% endif %}

                <div class="card-body">
                    <div class="row justify-content-center">
                        <a class="card-link" href="/categories/${category_id}/detail"> ${ category_data.name } </a>
                    </div>
                    <div class="row justify-content-center">
                        <p class="card-text">${ category_data.description }</p>
                    </div>
                    <div class="row justify-content-center">
                    <small class="text-muted"><a class="float-right" href = "/categories/${category_id}/edit">Редактировать</a></small>
                    </div>
                </div>
            </div>
        </div>`



        var category_list = document.body.querySelector('.categories');
        category_list.innerHTML += category_div;
      });
       centrifuge.on('connect', function(context) {
        console.log('connected');
      });
       subscription.on('subscribe', function() {
        console.log("subscribed");
      });
       subscription.on('error', function(err) {
        console.log("error subscribing", err);
      });
       subscription.on('join', function(message) {
        console.log(message);
      });
       subscription.on('leave', function(message) {
        console.log(message);
      });
       centrifuge.connect();
    </script>
{%  endblock %}



